html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  margin-top: 32px;
  margin-bottom: 56px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.main-page {
  background: linear-gradient(270deg, #a5deff -1.87%, #fcfeff 100%);
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
}

.logo-text {
  margin-left: 16px;
}

.banderogus-container {
  background: #fff;
  padding: 60px 56px;
  align-self: center;
}

.banderogus-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
}

.banderogus-greeting {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}

.banderogus-start-text {
  color: #ff6b0a;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 48px;
}

.banderogus-descr {
  color: #1b1d1f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.banderogus-launch {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.main-page-row {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.banderogus-img {
  align-self: flex-end;
}

.gus-facts {
  padding: 52px 0 72px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gus-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  margin: 16px auto;
}

.gus-descr {
  color: #1b1d1f;
  text-align: center;
  width: 875px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.gus-facts-container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.gus-fact-item {
  width: 33%;
}

.gus-fact-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin: 12px 0 32px 0;
}

.gus-fact-descr {
  color: #1b1d1f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 280px;
}
.victory-bgd {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(270deg, #d3efff -1.87%, #ffffff 100%);
  width: 1170px;
  padding: 72px 0px;
  margin-bottom: 72px;
}

.victory-footer {
  display: flex;
  justify-content: center;
}

.victory-title {
  color: #1b1d1f;
  font-weight: 600;
  font-size: 48px;
  line-height: 100px;
  margin: 16px 0px;
}

.victory-descr {
  width: 875px;
  text-align: center;
  color: #1b1d1f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.modal-bgd {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(27, 29, 31, 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-container {
  background: #fff;
  padding: 32px 92px 60px 92px;
  position: relative;
}

.modal-form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #1b1d1f;
  margin: 32px 0 12px 0;
}

.modal-form-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b1d1f;
  margin-bottom: 24px;
}

.modal-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-field-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #1b1d1f;
}

.modal-field-input {
  border: 1px solid #005bbb;
  box-sizing: border-box;
  border-radius: 8px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  color: #1b1d1f;
  padding: 4px 8px;
}

.modal-form-btn {
  background: #ff6b0a;
  border-radius: 8px;
  padding: 12px 24px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-top: 24px;
}

.close-btn {
  position: absolute;
  right: 28px;
  top: 28px;
  font-size: 21px;
  color: #1b1d1f;
  cursor: pointer;
  border: 0;
  background: none;
}

.modal-color-add {
  color: #ff6b0a;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: -20px;
}

.launch-pic {
  margin-bottom: -50px;
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

